{% assign tags = project.tags %}
{%- for tag in tags -%}

    {% assign tagValue = tag | strip | downcase %}

    {% assign specificTagClass = false %}

    {% if tagValue == "professional" %}
        {% assign specificTagClass = "professional-tag" %}
    {% elsif tagValue == "shadertoy" %}
        {% assign specificTagClass = "shader-toy-tag" %}
    {% elsif tagValue == "webgl" %}
        {% assign specificTagClass = "web-gl-tag" %}
    {% elsif tagValue == "ue4" %}
        {% assign specificTagClass = "ue4-tag" %}
    {% elsif tagValue == "opengl" %}
        {% assign specificTagClass = "opengl-tag" %}
    {% endif %}

    {% if specificTagClass %}
        <div class="portfolio-tag {{ specificTagClass }}">{{ tag | strip }}</div>
    {% elsif project.defaultTagColor %}
        <div class="portfolio-tag default-tag" style="background-color: {{ project.defaultTagColor }}">{{ tag | strip }}</div>
    {% else %}
        <div class="portfolio-tag default-tag">{{ tag | strip }}</div>
    {% endif %}

{%- endfor -%}
