---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.portfolio.size > 0 -%}
    {% assign portfolio = site.portfolio | sort: 'date' | reverse %}
    <ul class="post-list">
      {%- for project in portfolio -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ project.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
          </a>
        </h3>
        {% if project.preview %}
          <img src="{{ project.preview | relative_url }}" alt="Preview" />
        {% endif %}

        {%- if site.show_excerpts -%}
          {{ project.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
